.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f4f4;
  padding: 20px;
  min-height: 100vh;
}


.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #4a154b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1001;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
